<div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  
  <div id="interactive" class="viewport">
    <!-- QuaggaJS will populate this element -->
  </div>
  
  <div class="instructions">
    This is a companion app for the blog post located <a target="_blank" href="https://blog.classycode.com/">here</a>.
    The source code is available on <a target="_blank" href="https://github.com/classycodeoss/mobile-scanning-demo">Github</a>.
  </div>
  
  <div class="shopping-cart">
  
    <span *ngIf="shoppingCart.isEmpty else shoppingCartItems">Shopping cart is empty</span>
    <ng-template #shoppingCartItems>
  
      <app-shopping-cart-item
        *ngFor="let articleAndCount of shoppingCart.shoppingCartItems"
        [article]="articleAndCount[1]"
        [count]="articleAndCount[0]">
      </app-shopping-cart-item>
  
      <div class="shopping-cart-total">
        Total: {{ shoppingCart.totalPrice }} USD
      </div>
    </ng-template>
  </div>
  <jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
    <button (click)="save();">Guardar</button>
  </jw-modal>
  <jw-modal id="custom-modal-2">
    <h1>O produto já existe na lista para adicionar ao stock!</h1>
  </jw-modal>